<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
      hint: "leave it blank if you don't want to change it",
      required: false,
      input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  required: true,
                  hint: "Needed to validate any changes in yout account",
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :radio_certificate %>
      <%= f.input :aviation_document, label: 'Aviation Document Number' %>
      <%= f.input :aviation_document_date,
                  label: 'Aviation Document Expiration Date',
                  as: :string, input_html: { class: 'flatpickr-input' } %>
      <%= f.input :pilot_license_type, collection: ["PPL", "CPL", "Other"] %>
      <%= f.input :pilot_license_number %>
      <%= f.input :medical_category, collection: [1,3] %>
      <%= f.input :medical_date,
                  label: 'Last Medical Date',
                  as: :string, input_html: { class: 'flatpickr-input' } %>
      <%= f.input :instrument_rating_date,
                  label: 'Instrument Rating Certification Date',
                  as: :string,
                  input_html: { class: 'flatpickr-input' } %>
      <%= f.input :instrument_rating_renewal_date,
                  label: 'Instrument Rating Renewal Date',
                  as: :string, input_html: { class: 'flatpickr-input' } %>
      <%= f.input :night_rating_date,
                  label: 'Night Rating Certifiaction Date',
                  as: :string, input_html: { class: 'flatpickr-input' } %>
      <%= f.input :FAA_PPL_license %>
      <%= f.input :FAA_PPL_Conversion_date,
                  label: 'FAA PPL Conversion Date',
                  as: :string, input_html: { class: 'flatpickr-input' } %>
      <%= f.input :FAA_CPL_license %>
      <%= f.input :FAA_CPL_conversion_date,
                  label: 'FAA CPL Conversion Date',
                  as: :string, input_html: { class: 'flatpickr-input' } %>
      <%= f.input :biennial_flight_review,
                  label: 'Last Biennal Flight Review Date',
                  as: :string, input_html: { class: 'flatpickr-input' } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
